body {
  display: flex;
  flex-direction: column;
  width: 1920px;
  background-color: black;
}
header {
  display: flex;
  width: 100%;
  height: 44px;
  background-color: white;
  gap: 8px;
  position: fixed;
  top: 8px;
  justify-content: center;
  align-items: center;
}
.apple-logo {
  width: 30px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-store {
  width: 30px;
  height: 44px;
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-mac {
  width: 24px;
  height: 44px;
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-ipad {
  width: 24px;
  height: 44px;
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-iphone {
  width: 38px;
  height: 44px;
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-watch {
  width: 35px;
  height: 44px;
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-vision {
  width: 33px;
  height: 44px;
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-airpods {
  width: 43px;
  height: 44px;
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-tv {
  width: 62px;
  height: 44px;
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-entertaiment {
  width: 77px;
  height: 44px;
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-accessories{
    
}